#my-img{
    background-image: url(images/foley-pfp.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#my-img{
    animation: imgFloat 7s ease-in-out infinite;
}
@keyframes imgFloat {
    50%{
        transform: translateY(15px);
    }
}
#jolo{
    background-image: url(images/Jolo-Homepage.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#finditreunite{
    background-image: url(images/finditreunite-snip.PNG);
    background-repeat: no-repeat;
    background-size: cover;
}

#topsun{
    background-image: url(images/Top-sun-preview.PNG);
    background-repeat: no-repeat;
    background-size: cover;
}

#nordic-rose{
    background-image: url(images/Nordic-nose.PNG);
    background-repeat: no-repeat;
    background-size: cover;
}

#hire-btn{
	background: linear-gradient(-45deg, #27ae60,  #AEA327, #18e76e, #2732AE);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#dwn-cv{
    position: relative;
    z-index: 1;
    overflow: hidden;
}

#dwn-cv:hover{
    border: #27ae60;
    cursor: pointer;
    overflow: hidden;
}

#dwn-cv:before{
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: #27ae60;
}

#dwn-cv:hover::before{
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    z-index: -1;
    opacity: 1;

}

hr{
    position: relative;
    left: -20px;
    right: 100px;

}
