#my-img{
    background-image: url(images/anime_image_fe96db95e0.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#jolo{
    background-image: url(images/Rectangle\ 14.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#finditreunite{
    background-image: url(images/Rectangle\ 19.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#topsun{
    background-image: url(images/Rectangle\ 17.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#ongod{
    background-image: url(images/Rectangle\ 22.png);
    background-repeat: no-repeat;
    background-size: cover;
}
